{% extends 'homebase.html' %} {% block home_content %}

<div id="content">
  {% if user != None %}
  <div class="content-bubble">
    <h1>Balance:</h1>
    <p>${{ user.budget.balance }}</p>
  </div>
  <div class="content-bubble">
    <h1>Transaction:</h1>
    <form action="{% url 'trans' %}" method="post">
      {% csrf_token %}
      <label for="name"> Name of Transaction: </label>
      {{ form.name }}
      <br />
      <label for="gain_loss">Gain: </label>
      {{ form.gain_loss }}
      <br />
      <label for="money"> Cost: </label>
      {{ form.money }}
      <input type="submit" value="Enter" />
    </form>
    <div>
      {% else %}
      <div class="content-bubble">
        <h2>You have not selected a balance:</h2>
        <h1>Balance:</h1>
        <form action="" method="post">
          {% csrf_token %}
          <label for="bal">Please Enter You're Current Balance:</label>
          <input type="text" name="bal" id="balance" placeholder="Balance..." />
          <input type="submit" value="Enter Balance" />
        </form>
      </div>
    </div>

    {% endif %} {% endblock home_content %}
  </div>
</div>
