{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "login/css/style.css" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap"
      rel="stylesheet"
    />
    <title>Financing</title>
  </head>
  <body>
    <div class="navbar">
      <span id="Hello-msg">Hello, {{ request.user }} </span>
      <a href="{% url 'home' %}" class="btn"
        ><span class="Home-btn">Home</span></a
      >
      <a href="{% url 'bal' %}" class="btn"
        ><span class="balance">Balance</span></a
      >
      <a href="{% url 'reviews' %}" class="btn"
        ><span class="pastreviews">Past Reviews</span></a
      >
      <a href="{% url 'savings' %}" class="btn"
        ><span class="savings">Savings</span></a
      >
      <a href="{% url 'stonks' %}" class="btn"
        ><span class="stonks">Stocks</span></a
      >
      <a href="{% url 'logout' %}" class="btn"
        ><span class="logout">Logout</span></a
      >
    </div>
    {% block home_content %}{% endblock home_content %}
  </body>
</html>
