{% extends 'homebase.html' %} {% block home_content %}
<div class="container">
  <div id="content">
    <div class="bal content-bubble">
      <h1>Current Balance:</h1>
      {% if user.budget.balance != None %}
      <p>${{ user.budget.balance }}</p>
      {% else %}
      <b><p>Please go to the balance tab to set your budget</p></b>
      {% endif %}
      <h2>Previous Transactions:</h2>
      {% if transactions != None %}
      <ol>
        {% for each in transactions %}
        <li class="this-list">
          <div class = "trans_blocks">
          <b>Name</b>: <p class = "trans_name">{{each.name}}</p>
          </div>
          <ul class="sub-list">
            <div class = "trans_blocks">
              {% if each.gain_loss == True %}
              <li style="color: green;"><b>Cost</b>: +{{each.cost}}</li>
              {% else %}
              <li style="color: red;"><b>Cost</b>: -{{each.cost}}</li>
              {% endif %}
            </div>
            <div class = "trans_blocks">
              <li><b>Date</b>: {{each.date_added}}</li>
          </div>
          </ul>
        </li>
        <hr></hr>
        {% endfor %}
      </ol>
      {% elif user.budget.balance != None %}
      <p>No Transactions Processed. Please Go to the balance page and notate your transactions.</p>
      {% else %}
      <b><p>Please go to the balance tab to set your budget</p></b>
      {% endif %}

    </div>
    <div class="earnings content-bubble">
      <h1>Current Earnings:</h1>
      {% if Current_earnings != None %}
      {% if Current_earnings > 0 %}
      <p style="color: green;font-size: 1.7rem;">+{{ Current_earnings }}</p>
      {% else %}
      <p style="color: red;font-size: 1.7rem;">{{ Current_earnings }}</p>
      {% endif %}
      {% else %}
      <b><p>Please go to the balance tab to set your budget</p></b>
      {% endif %}
    </div>
    <div class="subs content-bubble">
      <h1>On Going Subscriptions:</h1>
      <ul>
        <li>You're not subscrbed to anything</li>
      </ul>
    </div>
    <div class="stock content-bubble">
      <h1>Stocks:</h1>
      <p>You have not invested yet</p>
      <ul>
        <li>N/A</li>
      </ul>
    </div>
    <div class="user-info content-bubble">
      <h1>User Info:</h1>
      {% if User != None %}
      <p>Username: {{ user.username.username }}</p>
      <p>Email: {{ user.email }}</p>

      {% else %}
      <p>Username: {{ request.user }}</p>

      <p>Email: {{ request.user.email }}</p>

      {% endif %}
      <div class="edit-btn">
        <a href="{% url 'edit' %}"><button>Edit Account</button></a>
      </div>
      <div class="delete-btn">
        <a href="{% url 'delete' %}"><button>Delete Account</button></a>
      </div>
    </div>
  </div>
</div>
{% endblock home_content %}
