{% extends 'homebase.html' %} {% block home_content %}
<div class="container">
  <div id="content">
    <div class="bal content-bubble">
      <h1>Current Balance:</h1>
      {% if user.budget.balance != None %}
      <p>${{ user.budget.balance }}</p>
      {% else %}
      <b><p>Please go to the balance tab to set your budget</p></b>
      {% endif %}
      <h2>Previous Transactions:</h2>
      <ol>
        <li>List of transactions</li>
        <li>List of transactions</li>
        <li>List of transactions</li>
        <li>List of transactions</li>
        <li>List of transactions</li>
      </ol>
    </div>
    <div class="earnings content-bubble">
      <h1>Current Earnings:</h1>
      <p>
        [Place Current Earnings here and make them either green for gain or red
        for loss] {{ user.username.username }}
      </p>
    </div>
    <div class="subs content-bubble">
      <h1>On Going Subscriptions:</h1>
      <ul>
        <li>List of Subscriptions</li>
        <li>List of Subscriptions</li>
        <li>List of Subscriptions</li>
        <li>List of Subscriptions</li>
      </ul>
    </div>
    <div class="user-info content-bubble">
      <h1>User Info:</h1>
      <p>[User info such as when registered, email to send info, Username]</p>
      {% if User != None %}
      <p>Username: {{ user.username.username }}</p>
      <p>Email: {{ user.email }}</p>

      {% else %}
      <p>Username: {{ request.user }}</p>

      <p>Email: {{ request.user.email }}</p>

      {% endif %}
      <div class="edit-btn">
        <a href="{% url 'edit' %}"><button>Edit Account</button></a>
      </div>
      <div class="delete-btn">
        <a href="{% url 'delete' %}"><button>Delete Account</button></a>
      </div>
    </div>
    <div class="stock content-bubble">
      <h1>Stocks:</h1>
      <p>
        [Place stock info here such as how much is invested, gained, and loss
      </p>
      <ul>
        <li>Names of Stocks</li>
        <li>Names of Stocks</li>
        <li>Names of Stocks</li>
        <li>Names of Stocks</li>
        <li>Names of Stocks</li>
        <li>Names of Stocks</li>
        <li>Names of Stocks</li>
      </ul>
    </div>
  </div>
</div>
{% endblock home_content %}
