{% extends 'base.html' %} {% block login_content %} {% load static %} <img
src="{% static "IMG_1169.PNG"%}">
<div class="login_box">
  <h1>Penguin Financing</h1>
  <hr />
  <h2>Please Login in Here!</h2>
  <form action="" method="post">
    {% csrf_token %}
    <div class="user">
      <label for="username">Username:</label>
      <input type="text" name="username" placeholder="Username..." />
    </div>
    <div class="pass">
      <label for="password">Password:</label>
      <input type="password" name="password" placeholder="Password..." />
    </div>
    <input type="submit" value="Login" />
  </form>

  <p>
    Dont have an account?
    <a href="{% url 'register' %}"><button>Register Here</button></a>
  </p>
</div>

{% for message in messages%}
<p id="messages">{{ message }}</p>
{% endfor %} {% endblock login_content %}
