{% extends 'homebase.html' %} {% block home_content %}
<html>
  <body>
    <div class="bal content-bubble">
      <h1>Current Balance:</h1>
      {% if user.budget.balance != None %}
      <p>${{ user.budget.balance }}</p>
      {% else %}
      <b><p>Please go to the balance tab to set your budget</p></b>
      {% endif %}
      <h2>Previous Transactions:</h2>
      <ol>
        {% for each in transactions %}
        <li class="this-list">
          <b>Name</b>: {{each.name}}
          <ul class="sub-list">
            {% if each.gain_loss == True %}
            <li style="color: green"><b>Cost</b>: +{{each.cost}}</li>
            {% else %}
            <li style="color: red"><b>Cost</b>: -{{each.cost}}</li>
            {% endif %}
            <li><b>Date</b>: {{each.date_added}}</li>
          </ul>
        </li>
        {% endfor %}
      </ol>
    </div>
    {% endblock home_content %}
  </body>
</html>
