{% extends 'homebase.html' %} {% block home_content %}
<br />
<form action="" method="post">
  <button></button>
</form>
<form action="" method="post">
  <button></button>
</form>
<form action="" method="post">
  <button></button>
</form>
<form action="" method="post">
  <button></button>
</form>
<table>
  <tbody>
    <tr>
      <th>Date</th>
      <th>Open</th>
      <th>High</th>
      <th>Low</th>
      <th>Close</th>
      <th>Adj Cloae</th>
      <th>Volume</th>
      <th>div Amount</th>
      <th>Split coef</th>
    </tr>
    {% for each in data %}

    <tr>
      <td>{{each.date}}</td>
      <td>{{each.open}}</td>
      <td>{{each.high}}</td>
      <td>{{each.low}}</td>
      <td>{{each.close}}</td>
      <td>{{each.adjusted_close}}</td>
      <td>{{each.volume}}</td>
      <td>{{each.dividend_amount}}</td>
      <td>{{each.split_coefficient}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<br />

{% endblock home_content%}
