
  /* Chrome 10-25, Safari 5.1-6
  background: -webkit-linear-gradient(
    to bottom,
    rgba(219, 193, 172, 1),
    rgba(117, 103, 93, 1)
  );

  background: linear-gradient(
    to bottom,
    rgba(219, 193, 172, 1),
    rgba(117, 103, 93, 1)
  ); */

  html {
    /* fallback for old browsers */
    /* background: #dbc1ac; */
    background: #0D7377;
    color: black;
    font-family: "Roboto", sans-serif;
    height: 100%;
    max-height: 100%;
    background-size: cover;
  }
  body{
    padding: 0;
    margin: 0;
  }
  
  a:link {
    text-decoration: none;
    color: black;
    transition-duration: 0.4s;
  }
  a:visited {
    text-decoration: none;
    color: black;
  }
  a:hover {
    text-decoration: none;
    color: white;
  }
  a:active {
    text-decoration: none;
  }
  
  .login_box {
    background: #ece0d1;
    width: 29rem;
    padding: 4rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .login_box h1 {
    font-size: 2.6rem;
  }
  
  .login_box label {
    font-size: 1.3rem;
  }
  
  .login_box .pass {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .register_box {
    background: #ece0d1;
    width: 29rem;
    padding: 4rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .register_box h1 {
    font-size: 2.6rem;
  }
  
  .register_box label {
    font-size: 1.3rem;
  }
  
  .regi {
    padding-bottom: 1rem;
  }
  
  .navbar {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.4rem;
    padding: 0.8rem;
    background: linear-gradient(white, lightgrey);
  
    border: solid 0.1rem black;
  }
  
  .navbar a {
    border: solid 1px;
    padding: 0.4rem;
  }
  
  .btn {
    transition-duration: 0.4s;
  }
  
  .btn:hover {
    background: linear-gradient(#4caf50, grey); /* Green */
    color: white;
  }
  
  #Hello-msg {
    border: none;
    padding: 0.4rem;
  }
  
  .content-bubble {
    /* width: 33%; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 2em;
    padding: 1.5em;
    border-bottom: solid 2px black;
    background: linear-gradient(white, lightgrey);
  }

  .content-bubble ul {
    list-style: none;
    padding-left: 0px;
  }


  .this-list {
    padding-bottom: 10px; 
  }

  
  
  @media (max-width: 880px) {
    .navbar {
    flex-direction: column;
    width: 25.7rem;
    justify-content: center;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px black;
    }
  }

  
td {
  padding: .3em;
  height: 28px;
  width: 8rem;
  text-align: left;
  border: black 1px solid;
  background: linear-gradient(white, lightgrey);
}
th {
  text-align: left;
}
table{
  margin: 2em;
}
.trans_name{
  border-bottom: 1px black solid;
  width: max-content;
  font-weight: bolder;
  display: inline
}
.trans_blocks{
  width: max-content;
  padding: .2em;
}
th{
  color: white;

}
.stock_header{
  color: white;
  margin: 1em;
}