{% extends 'base.html' %} {% block content %}

<h1>Register</h1>
<form action="" method="post">
  {% csrf_token %} {{ form.username.label }} {{ form.username }}
  <br />
  {{ form.email.label }} {{ form.email }}
  <br />
  {{ form.password1.label }} {{ form.password1 }}
  <br />
  {{ form.password2.label }} {{ form.password2 }}
  <br />
  <input type="submit" name="Create User" />
</form>

{{ form.errors }}

<p>
  Already have an account?
  <a href="{% url 'login' %}"><button>Login</button></a>
</p>

<script>
  var form_field = document.getElementsByTagName("input");
  form_field[1].placeholder = "Username...";
  form_field[2].placeholder = "Email...";
  form_field[3].placeholder = "Password...";
  form_field[4].placeholder = "Re-Enter Password...";

  for (var field in form_fields) {
    form_fields[field].className += " form-control";
  }
</script>

{% endblock content %}
